<style>
        body {
            background-color: #FFFFFF;
            font-family: cursive;
        }
        main {
            display: inline-block;
            width: 90%;
            margin-left: 9.375%;
        }
        header {
            display: inline-block;
            width: 1000px;
            margin-left: calc(50% - 500px);
            margin-top: 2px;

        }
        header > img {
            float:left;
            height: 40px;
            
        }
        nav {
            float: right;
            margin-top: 20px;
            font-family: cursive;
            
        }
        nav > a {
            display: inline-block;
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
            color: #2D273D;
            margin-left: 20px;
            border-bottom: 5px solid transparent;
        }

        nav > a:hover {
            border-bottom: 5px solid #ff4622;
            }

        nav > a:first-child {
            margin-left: 0;
            border-color: #ff4622;

            }

        section {
            display: inline-block;
            width: 100%;
            margin-top: 30px;

        }
        section>img {
            width: 65%;
        }
        div {
            float: left;
            width: 35%;
            color: #2C224E;
            }
        h1 {
            font-family: cursive;
            font-size: 40px;
            margin-top: 25%;

        }
        h1 > span {

        }
        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top:0px;
            font-size: 20px;

        }
        section>div>a {
            display:inline-block;
            float: left;
            width: 26%;
            background-color: #FF4622;
            color: white;
            padding: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 3px solid #FF4622;
            border-radius: 5px;
            
         }

        

